a.fwb_fromthis img {
  display: none;
}
body {
  margin: 0;
  background: transparent;
}
video {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 20%;
  min-height: 20%;
  z-index: -100;
}
@media (max-width: 45em) {
  video {
    display: none;
  }
}
a {
  color: #c00509;
}
a:hover {
  color: #7a02d8;
}
.content {
  font-size: 18px;
}
b, strong {
  font-size: 1.05em;
  font-weight: 800;
}
html {
  font-family: 'Ubuntu', san-serif;
  color: #f2f2f2;
  position: relative;
  background: url('../img/calendar-slide2.jpg') center center fixed no-repeat;
  background-size: cover;
}
@media (max-width: 45em) {
  html {
    background: black;
  }
}
.content {
  margin-left: 20%;
  float: left;
  width: 80%;
  max-width: 1000px;
  padding: 0px 50px;
}
@media (max-width: 70em) {
  .content {
    padding: 0 20px;
    margin-left: 200px;
    width: 800px;
  }
}
@media (max-width: 45em) {
  .content {
    float: none;
    width: 100%;
    padding: 0;
    margin-left: 0;
  }
}
.content-home {
  width: 80%;
  float: right;
  padding: 10% 0;
}
.content-home .content-int {
  width: 100%;
}
.gallery-content {
  margin-left: 20%;
  float: left;
  width: 80%;
}
.gallery-content .content-int {
  padding: 75px 20px;
  background: rgba(0, 0, 0, .9);
}
@media (max-width: 70em) {
  .gallery-content {
    padding: 0 20px;
    margin-left: 200px;
    width: 800px;
  }
}
@media (max-width: 45em) {
  .gallery-content {
    float: none;
    width: 100%;
    padding: 0;
    margin-left: 0;
  }
}
.content-int {
  padding: 75px 20px 150px;
  background: rgba(0, 0, 0, .6);
  /*======================================================== 
header 
==========================================================*/
}
.header {
  z-index: 10;
  width: 20%;
  min-width: 200px;
  max-width: 250px;
  background: url('../img/side_menu_bg.jpg');
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.75);
}
.mobile-wdgt {
  padding: 20px;
  /* business information across the top of header */
}
.business-info {
  padding-top: 10px;
  padding-left: 10px;
  /* ==============================================================
logo
================================================================= */
}
.business-info a {
  color: lightgrey;
}
.business-info .top-wdgt-l {
  color: white;
  float: left;
}
.business-info .top-wdgt-r {
  color: lightgrey;
}
.business-info li {
  display: inline-block;
  margin-left: 20px;
  color: white;
}
.logo {
  margin-top: 10px;
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 10px;
  background: black;
}
.logo a:hover {
  color: black !important;
}
.logo-img {
  margin: 0;
  /* ============================================================
nav 
================================================================*/
}
.nav {
  padding: 0;
  display: block;
  z-index: 10;
}
.nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
.nav li {
  position: relative;
  display: block;
}
.nav li a {
  line-height: 1em;
  display: block;
  color: white;
  padding: 9px 30px;
  font-family: 'Metal Mania', serif;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
}
@media (max-height: 600px) {
  .nav li a {
    padding: 5px 20px;
    font-size: 14px;
  }
}
@media (max-width: 70em) {
  .nav li a {
    padding: 5px 20px;
    font-size: 14px;
  }
}
.nav a:hover {
  background: black;
}
.nav ul.sub-menu {
  display: none;
}
.nav ul.sub-menu a {
  padding: 10px;
  width: 200px;
}
.nav ul li:hover > ul.sub-menu {
  background: linear-gradient(to bottom, #3d0000 50%, #931302 100%);
  display: block;
  z-index: 99;
  position: absolute;
  top: 0px;
  right: -200px;
  padding: 0px;
  width: 200px;
}
.current_page_item a {
  color: #c00509 !important;
  background: black;
  /*=============================================================
banner
===============================================================*/
}
.banner-home {
  background: url('./img/bkg-1.jpg');
  background-size: cover;
}
.wdgt-side-t .social {
  width: 20%;
}
.wdgt-side-b {
  width: 80%;
  position: absolute;
  bottom: 0;
}
@media (max-height: 700px) {
  .wdgt-side-b {
    position: relative;
    width: 100%;
  }
}
@media (max-width: 1120px) {
  .wdgt-side-b {
    position: relative;
    width: 100%;
  }
}
a.buy-tickets {
  position: relative;
  top: 70px;
}
@media (max-width: 1120px) {
  a.buy-tickets {
    display: none;
  }
}
@media (max-height: 700px) {
  a.buy-tickets {
    display: none;
  }
}
a.buy-tickets-btn {
  margin: 10px auto;
  display: none;
}
@media (max-width: 1120px) {
  a.buy-tickets-btn {
    display: block;
  }
}
@media (max-height: 700px) {
  a.buy-tickets-btn {
    display: block;
  }
}
a.buy-tickets:hover {
  top: 0;
  /* ===============================================================
footer items
=================================================================== */
}
@media (max-height: 600px) {
  a.buy-tickets:hover {
    top: 30px;
  }
}
.footer-items {
  padding: 10px 0;
  background: black;
  border-bottom: solid 2px #820003;
  border-top: solid 2px #820003;
  color: white;
}
@media (max-width: 45em) {
  .footer-items {
    display: none;
  }
}
.sponsors {
  max-width: 1000px;
  margin: auto;
}
.sponsors .sponsor {
  width: 14.28%;
}
.copyright {
  width: 80%;
  float: right;
  padding: 10px 0;
  /*=============================================================== 
footer 
================================================================*/
}
footer {
  width: 90%;
  right: 0;
  position: fixed;
  bottom: 0;
  background: black;
  text-align: center;
  color: white;
  font-size: 10px;
  /* ==========================================================================
   =COLOR
   ========================================================================== */
}
footer a {
  color: white;
}
@media (max-width: 45em) {
  footer {
    position: relative;
    width: 100%;
    padding: 10px 0;
    margin-left: 0;
  }
}
.swatch {
  height: 5em;
}
.color-1 {
  background: #c00509;
}
.color-2 {
  background: #e57100;
}
.color-3 {
  background: #c5a967;
}
.color-4 {
  background: linear-gradient(to bottom, #ad0002 1%, #6d0001 100%);
}
.color-5 {
  background: linear-gradient(to bottom, #f2861a 0%, #c46200 99%);
}
.color-6 {
  background: #7a02d8;
  /* ===========================================================================
  typography
  =========================================================================== */
}
.headline-1 {
  color: #c00509;
  text-transform: uppercase;
  display: block;
  font-family: 'Metal Mania', serif;
  font-weight: 700;
  font-size: 53px;
  margin-bottom: 15px;
}
.title-1 {
  text-transform: uppercase;
  display: block;
  font-family: 'Permanent Marker', serif;
  font-weight: 400;
  font-size: 42px;
  margin-bottom: 5px;
}
.title-2 {
  text-transform: uppercase;
  display: block;
  font-family: 'Permanent Marker', serif;
  font-weight: 400;
  font-size: 22px;
}
.title-3 {
  margin-bottom: 5px;
  display: block;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.3em;
  /* ==========================================================================
   = User input
   ========================================================================== */
}
.sptr-1 {
  background: url('../img/background-bloody.png') white;
  background-position: 30% 60%;
  background-size: 90%;
}
.sptr-2 {
  background: url('../img/background-bloody.png') white;
  background-position: 200% 40%;
  background-size: 50%;
}
.sptr-3 {
  background: url('../img/background-bloody.png'), white;
  background-position: 0 0;
  background-size: 100%;
}
textarea {
  background: url('../img/background-bloody.png'), white;
  background-size: 100%;
}
input, textarea {
  box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.7);
  display: block;
  padding: 0.5em;
  margin-bottom: 0.75em;
  border: 0.1em solid #383838;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  resize: none;
}
input:focus, textarea:focus {
  outline: none;
  border-color: #c00509;
}
input[type='button'], input[type='submit'], button, .button {
  border: none;
  line-height: 1;
  cursor: pointer;
  padding: 20px 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  margin-bottom: 0.75em;
  margin-bottom: 0.75rem;
}
.form-btn-1 {
  box-shadow: none;
}
input[type='submit'], .btn-1 {
  padding: 10px 20px;
  border-bottom: solid 2px #4f0001;
  border-radius: 8px;
  text-transform: uppercase;
  text-shadow: 1px 1px black;
  color: white;
  font-family: 'Metal Mania', serif;
  font-size: 18px;
  font-weight: 400;
  background: url('../img/background-bloody.png'), linear-gradient(to bottom, #ad0002 1%, #6d0001 100%);
}
.form-btn-1:hover, .btn-1:hover {
  color: #7a02d8;
}
.form-btn-1, .btn-2 {
  padding: 10px 20px;
  border-bottom: solid 2px #4f0001;
  border-radius: 8px;
  text-transform: uppercase;
  text-shadow: 1px 1px black;
  color: black;
  font-family: 'Metal Mania', serif;
  font-size: 18px;
  font-weight: 600;
  background: url('../img/background-bloody.png'), linear-gradient(to bottom, #f2861a 0%, #c46200 99%);
}
.btn-2:hover {
  color: #7a02d8;
}
.btn-3 {
  border-radius: 3px;
  padding: 10px 20px;
  color: black;
  font-size: 0.875em;
  font-weight: 600;
  background: url('../img/background-bloody.png'), #c5a967;
}
.btn-3:hover {
  background: url('../img/background-bloody.png'), #9d8650;
}
.btn-3:focus, .btn-3:active {
  background: #9d8650;
  /* ==========================================================================
   =ADJECTIVES
   ========================================================================== */
}
.ws-adjectives div {
  font-size: 1.5em;
  padding-bottom: 0.25em;
  /* ==========================================================================
   =COLOPHON
   ========================================================================== */
}
.colophon {
  clear: both;
  text-align: center;
  font-size: 0.875em;
  padding: 1.714em 0;
  border-top: thin solid #eee;
  margin-top: 1.714em;
  /* =========================================================================
   =objects
   ========================================================================= */
}
.img-1 {
  padding: 10px;
  background: #e5e5e5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
}
