$font-1:'Love Ya Like A Sister', serif;
$font-2:'Permanent Marker', serif;
$grey-1: white;
$grey-2: #F2F2F2;
$grey-3: rgb(229, 229, 229);
$grey-4:lightgrey;
$grey-5:#383838;
$color-1:#C00509;
$color-2:#E57100;
$color-3:#C5A967;
$color-4:linear-gradient(to bottom, #ad0002 1%,#6d0001 100%);
$color-5:linear-gradient(to bottom, #f2861a 0%,#c46200 99%);
$color-6:#7A02D8;
$color-7:linear-gradient(to bottom, #3d0000 50%,#931302 100%);
$shadow-1:0 1px 2px rgba(0, 0, 0, 0.21);

a {color:$color-1;}
a:hover {color:$color-6;}
.content {
  font-size:18px;
}

b, strong {
  font-size:1.05em;
  font-weight: 800;
}


html {
  font-family: "Times New Roman", Times, serif;
  color:$grey-2;
  position:relative;
  background:url('../img/calendar-slide1.jpg') no-repeat 60% center fixed;
  @media (max-width: 45em) {
  background:black;
  }
}

.content {
  margin-left:20%;
  float:left;
  width: 80%;
  max-width:1000px;
  padding:0px 50px ;
  @media (max-width: 70em) {
    padding:0 20px;
    margin-left:200px;
    width:800px;
  }
  @media (max-width: 45em) {
    float:none;
    width:100%;
    padding:0;
    margin-left:0;
  }

}

.content-int {
  padding:75px 20px;
  background:rgba(0,0,0,.5)
}





/*======================================================== 
header 
==========================================================*/
.header {
  z-index:10;
  width:20%;
  min-width:200px;
  background:url('../img/side_menu_bg.jpg') ;
  background-size:cover;
  position:fixed;
  top:0;
  bottom:0;
}

.mobile-header {
  background:url('../img/side_menu_bg.jpg');
  background-size:cover;
}

.mobile-wdgt {
  padding:20px;
}

/* business information across the top of header */

.business-info {
    padding-top: 20px;
    padding-left: 20px;
      a {
        color: $grey-4;
    }
    .top-wdgt-l {
      color:$grey-1;
      float: left;
    }
     .top-wdgt-r {
      color:$grey-4;
    }

      li {
        display: inline-block;
        margin-left: 20px;
        color: white;
    }
}

/* ==============================================================
logo
================================================================= */

.logo {
  width:100%;
  display: block;
  position: relative;
  margin-bottom:20px;
  a:hover {
    color: black !important;
  }
}

.logo-img {
  margin: 0;
}

/* ============================================================
nav 
================================================================*/


.nav {
  padding:20px 0;
    display: block;
    z-index: 10;

    
   ul {
      margin: 0;
      padding: 0;
      width:100%;
     
     }
    li {
      position:relative;
      display:block;
      
      a {
        display:block;
        color: $grey-1;
        padding: 10px 30px;
        font-family:$font-1;
        text-transform: uppercase;
        font-size: 25px;
        position: relative;
      }
    }
    a:hover {
       background: black;
    }
    ul.sub-menu {
    display:none;
    a{
      padding:10px;
      width:200px
      }
    }
  }

.nav ul li:hover > ul.sub-menu {
background:$color-7;

display: block;
z-index: 99;
position: absolute;
top: 0px;
right: -200px;
padding: 0px;
width: 200px;
}

.current_page_item a {
color: $color-1 !important;
background:black;
}

/*=============================================================
banner
===============================================================*/

.banner-home {
    /* height: 420px; */
    background: url('./img/bkg-1.jpg');
    background-size: cover;
}

.wdgt-side-b {
  width:80%;
  position:absolute;
  bottom:0;
}


a.buy-tickets {
  position: relative;
  top:70px;
}

a.buy-tickets:hover {
  top:0;
}


/* ===============================================================
footer items
=================================================================== */

.footer-items {
    padding:10px 0;
    background:black;
    border-bottom: solid 2px #820003;
    border-top: solid 2px #820003;
    color: $grey-1;
     @media (max-width: 45em) {
     display:none;
    }
   }

   .sponsors {
    max-width:1000px;
    margin:auto;
   
   }


   .copyright {
    padding:10px 0;
   }

/*=============================================================== 
footer 
================================================================*/

footer {
  width:80%;
  right:0;
  position:fixed;
  bottom:0;
  background:black;
  text-align:center;
  color: $grey-1;
  font-size: 12px;
  a {
    color: $grey-1;
  }
  @media (max-width: 45em) {
    position:relative;
    width:100%;
    padding:10px 0;
    margin-left:0;
  }
}

/* ==========================================================================
   =COLOR
   ========================================================================== */
.swatch {
  height: 5em;
}

.color-1 {
  background: $color-1;
}

.color-2 {
  background: $color-2;
}

.color-3 {
  background: $color-3;
}

.color-4 {
  background: $color-4;
}

.color-5 {
  background: $color-5;
}

.color-6 {
  background: $color-6;
}


/* ===========================================================================
  typography
  =========================================================================== */
.headline-1 {
  color:$color-1;
  text-transform: uppercase;
  display:block;
  font-family:$font-1;
  font-weight: 700;
  font-size:53px;
}


.title-1 {
  text-transform: uppercase;
  display:block;
  font-family:$font-2;
  font-weight: 400;
  font-size:42px;
  margin-bottom:5px;
}


.title-2 {
  text-transform: uppercase;
  display:block;
  font-family:$font-2;
  font-weight:400;
  font-size:22px;
}

.title-3 {
  margin-bottom:5px;
  display:block;
  font-weight:800;
  font-size:22px;
  line-height: 1.3em;
}

/* ==========================================================================
   = User input
   ========================================================================== */

.sptr-1 {
   background: url('../img/background-bloody.png') white;
  background-position:30% 60%;
  background-size:90%;
}

.sptr-2 {
   background: url('../img/background-bloody.png') white;
  background-position:200% 40%;
  background-size:50%;
}

.sptr-3 {
   background: url('../img/background-bloody.png'), white;
  background-position:0 0;
  background-size:100%;
}

textarea {
  background: url('../img/background-bloody.png'), white;
  background-size:100%;
}


input, textarea {
  /* Use for styling text based form elements, like name, email, password. 
  Button/submit specific styles below, those will override */
  box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.7);
  display: block;
  padding: .5em;
  margin-bottom: .75em;
  border: .1em solid $grey-5;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  resize: none;
}


input:focus, textarea:focus {
  outline: none;
  border-color: $color-1;
}

input[type='button'], input[type='submit'], button, .button {
  border: none;
  line-height: 1;
  cursor: pointer;
  padding: .8em 1.5em;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  display: block;
  margin-bottom: .75em;
  margin-bottom: .75rem;
}

.form-btn-1{
  box-shadow:none;
}

 .btn-1 {
  padding:10px 20px;
  border-bottom:solid 2px #4F0001;
  border-radius:8px;
  text-transform:uppercase; 
  text-shadow: 1px 1px #BD0003;
  color: black;
  font-family:$font-1;
  font-size:18px;
  font-weight: 600;
  background:url('../img/background-bloody.png'), $color-4;
}
.form-btn-1:hover, .btn-1:hover {
  color:$color-6;
  
}
.btn-1:focus, .btn-1:active {
 
}

.form-btn-1, .btn-2 {
  padding:10px 20px;
  border-bottom:solid 2px #4F0001;
  border-radius:8px;
  text-transform:uppercase; 
  text-shadow: 1px 1px #FF9826;
  color: black;
  font-family:$font-1;
  font-size:18px;
  font-weight: 600;
  background: url('../img/background-bloody.png'), $color-5;

}
.btn-2:hover {
  color:$color-6;
}
.btn-2:focus, .btn-2:active {
  
}

.btn-3 {
  border-radius:3px;
  padding:10px 20px;
  color:black;
  font-size: .875em;
  font-weight: 600;
  background:url('../img/background-bloody.png'), #C5A967;
}
.btn-3:hover {
  background:url('../img/background-bloody.png'), #9D8650;
}
.btn-3:focus, .btn-3:active {
  background: #9D8650;
}

/* ==========================================================================
   =ADJECTIVES
   ========================================================================== */
.ws-adjectives div {
  font-size: 1.5em;
  padding-bottom: .25em;
}

/* ==========================================================================
   =COLOPHON
   ========================================================================== */
.colophon {
  clear: both;
  text-align: center;
  font-size: .875em;
  padding: 1.714em 0;
  border-top: thin solid #eee;
  margin-top: 1.714em;
}

/* =========================================================================
   =objects
   ========================================================================= */
.img-1 {
  padding:10px;
  background:$grey-3;
  box-shadow:$shadow-1;
}



